html {
    font-size: 60px;
    font-family: "Imbue", serif;
    text-align: center;

}
html, body {
    margin: 0;
    padding: 0;
}

#Anfang {
    text-align: center;
    font-family: "Imbue", serif;
    background-color: #ffffff;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    border-bottom: solid, 10px, black; 
    background-image: url(Starter.jpg);
    background-size: 70%;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}
#herobox {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 01px;
    width: 100%;
}
#oben {
color: wheat;
font-size: 100px;
margin:0px;
font-weight: 700;
font-family: "Italianno", cursive;
}
#demo {
font-size: 200px;
color: wheat;
font-weight: 400;
margin: 0px;
word-spacing: 60px;
}
#countdown {
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    width: 100%;
}
#unterschrift {
    margin-top: 0px;
    color: black;
}
.box {
display: flex;
align-items: center;
justify-content: space-evenly;
padding: 100px 0px;
position: relative;
}
#trauung {
    background-color: #758467;
}
#kirchenbildcont {
    display: flex;
    align-items: center;
    width: 40%;
}
#kirchenbild {
width: 100%;
height: auto;
}
.links, .rechts {
    width: 40%;
}
.trenner {
    width: 3px;
    background-color: black;
    align-self: stretch;  
    max-height: 75%;     
    margin: 0 10px;
  }

#Anmeldung {
    background-color: f0e2d5;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

#knöpfe  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.knöpfchen {
    background-color: #bec5a4;
    border: 0px;
    border-radius: 4px;
    margin: 5px;
    font-size: 14px;
    width: fit-content;
    opacity: 0;
}
.knöpfchen:last-child {
    display: block;
}
#extra-info {
    margin-top: 20px;
    max-height: 0;
    transition: max-height 0.3s ease;
    overflow: hidden;
    transition: overflow 0.3s ease;
}
#ja:checked ~ #extra-info {
    max-height: 50000px;
}
#nein:checked ~ #extra-info {
    max-height: 50000px;
}
input {
    border: none;
    font-size: 40px;
}
.klabel {
    border: black 2px solid;
    padding: 5px;
    transition: background-color 0.5s;
    font-size: 40;
}
.klabel:hover {
    background-color: white;
}
#ja:checked + #jas {
    background-color: white;
}
#nein:checked + #neins {
    background-color: white;
}
.anmeldungi {
    background-color: #f0e2d5;
    margin-top: 5px;
    border-bottom: white 2px solid;
    margin-bottom: 5px;
    font-family:'Courier New', Courier, monospace;
}
#submit {
    background-color: #f0e2d5;
    font-family: "Imbue", serif; 
    font-size: 60px;
    border: black, 2px, solid;
}
#bemerkungen {
    width:1000px;
    max-width: 90%;
    font-size: 60px;
    font-family: "Imbue", serif; 
}
.extra {
    flex-basis: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#bermerkungencont {
    display: flex;
    justify-content: center;
}
#Trauunga, #Feier {
    font-size: 60px;
    transform: scale(2);
    accent-color: black;
} 
.wohin {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px; 
}
.radios {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-top: 20px;
    padding-left: 10px; 
    margin-left: 5%;
}
@media (max-width:1000px) {
    .anmeldediv {
        width: 100%;
        margin-left: 9%;
        flex: 0 0 auto;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 10px; 
    }
    .extra {
        flex-direction: column;
        align-items: flex-start;
    }
}
#nein:checked ~ .radios {
    display:none;
}
#Anmeldungsheader {
    margin-bottom: 0px;
}
#bistdudabei {
    margin-top: 10px;
}
#bildcontainer {
    display: flex;
    align-items: center;
    width: 40%;
}
#locationbild {
    width: 100%;
}
#location {
    background-color: #bec5a4;
    border-top: black 2px solid;
}
.timeline {
  position: relative;
  margin: 100px auto 100px 30px;
  padding-left: 0px;
  border-left: 4px solid black;
  box-sizing: border-box;
}

.event {
  position: relative;
  margin: 50px 0;
  padding-left: 40px;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: -11px; /* Hälfte vom Punkt, damit er auf der Linie liegt */
  top: 50%;
  transform: translateY(-50%);
}

.content {
  font-size: 48px;
  text-align: left;
}
.Labelos {
    margin: 10px;
}
#weiterepersonen {
    display:block!important;
}
.labelos {
    display:block !important;
}
.containerhin {
    display: flex;
    justify-content: center;
    margin: 10px;
    border: black 2px solid;
      margin: 10px auto;
    width: fit-content;
    border-radius: 6px;
}
#addField {
    background-color: #6b705c;
    font-size: 1em;
    font-family: inherit;
    color: #bec5a4;
}
#geschenkebox {
    margin-top: 0px;
    border: black 2px solid;
    width: min-content;
    padding: 4px;
    border-radius: 2px;
    margin-bottom: 20px;
    background-color: #bec5a4;
}
.nobot {
    margin-bottom: 0px;
}
#link:link {
    color: #6b705c;
}
#link:hover {
    color:#f0e2d5
}
#geschenke {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #bec5a4;
}
#geschenkeheader {
    margin-bottom: 0px
}


.programmanmeldung * {
    color: black;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.programmanmeldung {
    margin: 0 auto;
}
#programmanmeldungscont {
  display: flex;
  flex-wrap: wrap;
}

#flexy {
    display: flex !important;
    width: 100% !important;
    flex-wrap: nowrap !important;
    background-color: #758467;
    color: black;
    padding: 20px 0px;
    height: fit-content;
}
#Zeitstrahl,
#programmanmelden {
  width: 50% !important;       /* <-- exakt je die Hälfte */
  box-sizing: border-box !important;
  padding: 20
}
.trennerb {
    width: 100px;
    background-color: black;
    max-height: 75%;   
    align-self: center;   /* Trenner zentrieren */
    margin: 0 10px;
}
