html {
    font-size: 60px;
    font-family: "Imbue", serif;
    text-align: center;

}
html, body {
    margin: 0;
    padding: 0;
}

#Anfang {
    text-align: center;
    font-family: "Imbue", serif;
    background-color: #585858;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    border-bottom: solid, 10px, black; 
    background-image: url(Starter.jpg);
    background-size: 1536px 1000px;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
}
#oben {
color: wheat;
margin-top: 200px;
font-size: 200px;
margin-bottom: 0px;
font-weight: 700;
}
#demo {
    margin-top: 0px;
font-size: 100px;
color: wheat;
font-weight: 400;
margin-bottom: 0px;
}
#unterschrift {
    margin-top: 0px;
    color: white;
}
.box {
display: flex;
align-items: center;
justify-content: space-evenly;
padding: 100px 0px;
position: relative;
}
#kirchenbildcont {
    display: flex;
    align-items: center;
    width: 40%;
}
#kirchenbild {
width: 100%;
height: auto;
}
.links {
    width: 40%;
}
.trenner {
    width: 3px;
    background-color: black;
    align-self: stretch;  
    max-height: 75%;     
    margin: 0 10px;
  }

#Anmeldung {
    background-color: f0e2d5;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
#knöpfe {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.knöpfchen {
    background-color: #bec5a4;
    border: 0px;
    border-radius: 4px;
    margin: 5px;
    font-size: 14px;
    opacity: 1;
}
.knöpfchen:last-child {
    display: block;
}
#extra-info {
    margin-top: 20px;
    max-height: 0;
    transition: max-height 0.3s ease;
    overflow: hidden;
    transition: overflow 0.3s ease;
}
#ja:checked ~ #extra-info {
    max-height: 50000px;
}
#nein:checked ~ #extra-info {
    max-height: 50000px;
}
input {
    border: none;
    font-size: 40px;
}
.klabel {
    border: black 2px solid;
    padding: 5px;
    transition: background-color 0.5s;
    font-size: 40;
}
.klabel:hover {
    background-color: white;
}
#ja:checked + #jas {
    background-color: white;
}
#nein:checked + #neins {
    background-color: white;
}
.anmeldungi {
    background-color: #f0e2d5;
    margin-top: 5px;
    border-bottom: white 2px solid;
    margin-bottom: 5px;
    font-family:'Courier New', Courier, monospace;
}
#submit {
    background-color: #f0e2d5;
    font-family: "Imbue", serif; 
    font-size: 60px;
    border: black, 2px, solid;
}
#bemerkungen {
    width:1000px;
    max-width: 90%;
    font-size: 60px;
    font-family: "Imbue", serif; 
}
.extra {
    flex-basis: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#bermerkungencont {
    display: flex;
    justify-content: center;
}
#Trauunga, #Feier {
    font-size: 60px;
    transform: scale(2);
    accent-color: black;
} 
.wohin {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px; 
}
.radios {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-top: 20px;
    padding-left: 10px; 
    margin-left: 5%;
}
@media (max-width:1000px) {
    .anmeldediv {
        width: 100%;
        margin-left: 9%;
        flex: 0 0 auto;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 10px; 
    }
    .extra {
        flex-direction: column;
        align-items: flex-start;
    }
}
#nein:checked ~ .radios {
    display:none;
}
#Anmeldungsheader {
    margin-bottom: 0px;
}
#bistdudabei {
    margin-top: 10px;
}
#bildcontainer {
    display: flex;
    align-items: center;
    width: 40%;
}
#locationbild {
    width: 100%;
}
#location {
    background-color: #bec5a4;
    border-top: black 2px solid;
}
